@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = Localizer["Identity_ForgotPasswordConfirmationTitle"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["Identity_CheckEmailToResetPassword"]
</p>