@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = Localizer["Identity_ResetPasswordConfirmationTitle"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["Identity_PasswordHasBeenReset"] @Localizer["Identity_Please"] <a
        asp-page="./Login">@Localizer["Identity_ClickHereToLogin"]</a>.
</p>