@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = Localizer["Identity_ResetAuthenticator_Title"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Localizer["Identity_ResetAuthenticator_WarningStrong"]</strong>
    </p>
    <p>
        @Localizer["Identity_ResetAuthenticator_Description"]
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger"
            type="submit">@Localizer["Identity_ResetAuthenticator_Button"]</button>
    </form>
</div>